<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Playlists</title>
</head>
<body>
<h1>Your playlists</h1>

<table>
<form action ="/playlists" method="post"> 
{% for name in names %}
    <tr>
        <td>{{ name['name'] }} <button type="submit" name="chooseButton" value = "{{ name['name'] }}" > Chose as current playlist </td> 
    </tr>
{% endfor %}
</form>

<form action ="/callback", method = "POST">
    <input type ='submit' name ="Back" value = "Back"/> 
</form>
</table>
</body>
</html>